.about-container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

.about-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
}

.about-text-section {
  flex: 1.3;
}

.about-text-section h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.about-text-section p {
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 18px;
}

.about-image-section {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.about-image {
  width: 100%;
  max-width: 380px;
  border-radius: 12px;
}

/* Responsive */
@media (max-width: 900px) {
  .about-row {
    flex-direction: column;
    text-align: center;
  }

  .about-image {
    max-width: 70%;
    margin: auto;
  }
}
