.home-container {
  text-align: center;
  margin-top: 40px;
}

.home-container h1 {
  font-size: 32px;
  color: #222;
}

.home-container p {
  margin-top: 8px;
  font-size: 18px;
  color: #555;
}

.home-image {
  margin-top: 20px;
  width: 60%;
  border-radius: 10px;
}
